In [4]:
import pandas as pd
from pathlib import Path

In [7]:
# Caminho para o arquivo Parquet
df = pd.read_parquet("./ptax_last_10_days.parquet")
df

         date     buy    sell  updated_at
0  2025-05-23  5.6926  5.6932  2025-06-01
1  2025-05-24  5.6926  5.6932  2025-06-01
2  2025-05-25  5.6926  5.6932  2025-06-01
3  2025-05-26  5.6613  5.6619  2025-06-01
4  2025-05-27  5.6533  5.6539  2025-06-01
5  2025-05-28  5.6930  5.6936  2025-06-01
6  2025-05-29  5.6553  5.6559  2025-06-01
7  2025-05-30  5.7081  5.7087  2025-06-01
8  2025-05-31  5.7081  5.7087  2025-06-01
9  2025-06-01  5.7081  5.7087  2025-06-01